.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    width:60%;
    background-color: white;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,.0975);
    max-width: 800px;
    margin-top: 100px;
}

.photo__header{
    padding:15px 20px;
    display: flex;
    align-items: center;
    border-bottom:1px solid rgba(0,0,0,.0975);
}

.photo__avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right:15px;
}

.photo__username{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.photo__file{
    max-width: 100%;
    width: 100%;
}

.photo__info{
    padding:20px 20px 0 20px;
}

.photo__icons{
    margin-bottom: 10px;
    font-size: 18px;
}

.photo__icon:first-child{
    margin-right:10px;
}

.photo__likes{
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.photo__comment{
    margin-bottom: 10px;
}

.photo__comment-author{
    font-weight: 600;
    margin-right: 5px;
}

.photo__time-ago{
    color:#999;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom:1px solid rgba(0,0,0,.0975);
}

.photo__add-comment-container{
    position: relative;
}

.photo__add-comment-container i{
    position: absolute;
    top:17px;
    right:0;
}

.photo__add-comment{
    width: 97%;
    border:0;
    resize: none;
    font-size: 14px;
    padding-top:15px;
}

.photo__add-comment:focus{
    outline: none;
}

.heart-red{
    color:red;
}
