body{
    background-color: #FAFAFA;
    font-size: 16px;
    /*padding-top: calc(80px + 60px);*/
    font-family: 'Open Sans', sans-serif;
}

main{
    animation: .7s popIn linear;
}

@keyframes popIn{
    from{
        transform: translateY(12px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

.u-fat-text{
    font-weight: 600;
}
